.nav-item{
    margin-left: 5vb;
    font-size: larger;
    height: inherit;
}
.navCont{
    background-color: #080808;
}
.logo{
    border-radius: 25px;
}
.logo-name{
    font-size: xx-large;
}
.nav-item{
    font-size: large;
}
.navColor{
    background-color: #080808;
}

.home{
    background-color: #080808;
    color:white;
    padding-bottom: 20px;

}
.main-img{
    width: 400px;
}

.spaceNav{

    height: 20vh;
    background-color: #080808;
}

.desBottom{
    margin-bottom: 10vh;
}
.getInTouch{
    margin-left: 10vb;
    scale: 1.2;
}
.hr_home{
    border: 2px solid whitesmoke;
    z-index: 2;
    margin-top: 2vh;
    margin-bottom: 2vh;

}
.features{
    background-color: #080808;
    color: white;
}
.list-group-item{
    background-color: #080808;
    color: #b2b2b2;
    transition: ease all 1s;
    border:0px;
    border-radius: 15px;
    margin: 4vb;
}
/* 
Features border Colours */
.red-col{
    border-bottom:2px solid rgb(236, 12, 12);
}
.green-col{
    border-bottom:2px solid rgb(6, 247, 110);
}
.blue-col{
    border-bottom:2px solid rgb(10, 243, 247);
}
.yellow-col{
    border-bottom: 2px solid rgb(252, 252, 0);
}




/* .list-group-item>h2{
    
    color: #B2B2B2;
    transition: ease all 1s;

} */
.list-group-item:hover{
    
    
    transform:scale(1.2);
    transition: ease all 1s;
    box-shadow: inset;
    border:0px;
    border-bottom:1px solid white;
    z-index:2;
    

}

.red-col:hover{
background-color: rgb(236, 12, 12);
    color:black;
}
.green-col:hover{
    background-color: rgb(6, 247, 110);
    color:black;
}
.blue-col:hover{
    background-color: rgb(10, 243, 247);
    color:black;
}
.yellow-col:hover{
    background-color: rgb(252, 252, 0);
    color: black;
}

.icon:hover{
    color:white;
}

.icon-list li:nth-child(1)::before {  
    content: "f0eb" 
}  
.icon-list li:nth-child(2)::before {  
    content: "\f00c"; /* Example icon (check) */  
}  
