.nav-item{
    margin-left: 5vb;
    font-size: larger;
    height: inherit;
}
.navCont{
    background-color: #080808;
}
.logo{
    border-radius: 25px;
}
.logo-name{
    font-size: xx-large;
}
.nav-item{
    font-size: large;
}
.navColor{
    background-color: #080808;
}

.home{
    background-color: #080808;
    color:white;
    padding-bottom: 20px;

}
.main-img{
    width: 400px;
}

.spaceNav{

    height: 20vh;
    background-color: #080808;
}

.desBottom{
    margin-bottom: 10vh;
}
.getInTouch{
    margin-left: 10vb;
    scale: 1.2;
}
.hr_home{
    border: 2px solid whitesmoke;
    z-index: 2;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.features{
    background-color: #080808;
    color: white;

}

.card{
    margin: 20px;
    color: white;
    background-color: #080808;
    border-bottom:2px solid white ;
    border-radius: 15px;

}

.card{
    transition: ease all 1s;
}

.card-1{
    border-bottom-color: red;
}
.card-2{
    border-bottom-color: rgb(26, 213, 135);
}
.card-3{
    border-bottom-color: rgb(73, 29, 231);
}

.card-4{
    border-bottom-color: yellow;
}
.card:hover{
    scale: 1.2;
    transition: ease all 1s;
    color: #080808;
    border-bottom:#080808 ;
}
.card-1:hover{
    background-color: red;
}
.card-2:hover{
    background-color:rgb(26, 213, 135);
}
.card-3:hover{
    background-color: rgb(73, 29, 231);
}
.card-4:hover{
    background-color: yellow;
}
