.navCont{
    background-color: #080808;
}
.logo{
    border-radius: 25px;
}
.logo-name{
    font-size: xx-large;
}
.nav-item{
    font-size: large;
}
.navColor{
    background-color: #080808;
}

.home{
    background-color: #080808;
    color:white

}
.main-img{
    width: 400px;
}

.spaceNav{

    height: 20vh;
    background-color: #080808;

}

.desBottom{
    margin-bottom: 10vh;
}
.getInTouch{
    margin-left: 10vb;
    scale: 1.2;
}